* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    padding: 10px;
}

body {
    background: url("../img/pexels-pixabay-355465.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

#app {
    background: rgba(255, 255, 255, 0.100);
    max-width: 1440px;
    min-width: 80%;
    min-height: 100vh;
    margin: auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.400);
    border-radius: 10px;
    backdrop-filter: blur(16px);
    box-shadow: 4px 4px 10px;
}

#celcius-converter-form {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#celcius-converter-form button{
    background: rgba(255, 255, 255, 0.9);
    padding: 1rem;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}

table#convert-history {
    width: 100%;
    border: 1.6px solid white;
    border-collapse: collapse;
    text-align: center;
}

table#convert-history *{
    border: 1.6px solid white;
}